@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  font-size: 18px;
  left: 2px;
  background-color: rgba(0, 41, 65, 255);
  font-family: "Ubuntu", sans-serif;
}

/* Carousel */

.carousel-image {
  /* height: 600px; */
  width: 100%;
}

.carousel {
  width: 100%;
  z-index: 950;
}

#imageCarouselLeft {
  margin-top: 10%;
  width: 90%;
  filter: brightness(50%);
  transform: rotate(-15deg);
  float: right;
}
#imageCarouselRight {
  margin-top: 10%;
  width: 90%;
  filter: brightness(50%);
  transform: rotate(15deg);
  z-index: 900;
  float: left;
}


/* Title */

.new-rs-title-container{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.new-rs-title-container h1{
  background-color: #81efc9;
  width: 30%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  font-weight: bolder;  
  color: black;
  font-size: 300%;
  text-shadow: whitesmoke;
  border-color: black;
  border-width: 5px;


}

/* Showings */

#shownFilmImage {
  float: left;
  /* height: 40%;
  width: 40%; */
}

/* Cards */

.nr-card-img {
  width: 100%;
}

.nr-text-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -2px -5px 5px 0px rgba(245, 240, 245, 1);
}

.nr-text-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .new-rel-row {
  margin-top: 40px;
} */

.new-rel-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.new-rel-card:hover {
  margin-top: 15px;
  margin-bottom: 15px;
}

.nr-text-card {
  width: 50%;
}

.hp-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hp-card:hover {
  transform: scale(1.08);
  box-shadow: -2px -5px 5px 0px rgba(245, 240, 245, 1);
}

/* Containers */
.footer-container {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 41, 65, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100vw;
  color: white;
}

.footer-social-container {
  height: 10vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 41, 65, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100vw;
  border: black solid 1px;
}

.hp-card-container {
  background-color: rgba(0, 41, 65, 255);
}

.new-realease-container {
  background-color: rgba(0, 41, 65, 255);
  padding: 40px 40px;
}

/* Footer */
.social-links li a i {
  color: white;
  padding-top: 1rem;
  padding: 20px;
  height: 20px;
  width: 20px;
}

.social-links li a i:hover {
  color: #afafe7;
  padding-top: 1rem;
}

/* .navbar {
  background-color: #00003f;
} */

ul {
  list-style: none;
  /* list-style-position: inside; */
}

.opening-col,
.QuickLinks-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

Button {
  background-color: #00003f;
}

/* .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.navbar h2 {
  color: white;
}

/* Navbar */

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 24px;
  margin-right: 10px;
  text-shadow: 1px 1px 0px #ff0000;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: black;
  font-size: 24.1px;
}

.navbar-light .navbar-brand {
  color: white;
  text-shadow: 1px 1px 0px #ff0000;
}

h1 {
  font-size: 24px;
  color: white;
}

.thankyou-card {
  margin-top: 60px;
  background-color: rgba(0, 41, 65, 255);
  width: 50vw;
  height: 50vh;
  /* background: #eee; */
  box-shadow: 0 8px 8px -4px lightblue;
  /* background-image: url("/images/guardians-3.jpg"); */
}

hr {
  margin-top: 30px;
  color: white;
}

.thankyou-btn {
  color: white;
  background-color: black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.thankyou-btn:hover {
  text-shadow: 1px 1px 0px #ff0000;
  background-color: rgba(0, 41, 65, 255) !important;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.thankyou-head {
  color: white;

  text-shadow: 1px 1px 0px #ff0000;
}
